


    <div class="acordeon-cuerpo">
    <div class="acordeon">
      <h1 class="tituloacordeon">Un Poco mas sobre Mi</h1>
      <hr>
      <div class="contenedor">
        <div class="label">¿Quien soy?</div>
        <div class="content">Lo que mas me define en mi vida son los desafios, siempre desde chico fui travieso, aventurero , no me podia quedar quieto.
           Algo parecido me pasa ahora pero con el mundo del desarrollo,tengo ganas de aprender, aprender y seguir aprendiendo. Me queda todavia un largo camino de mucho esfuerzo y dedicacion
        </div>
      </div>
      <hr>
      <div class="contenedor">
        <div class="label">¿Como llegue aca?</div>
        <div class="content">De chico siempre me llamo mucho la atencion el mundo de la tecnologia, pero nunca pense
          que en un futuro iba a ser lo que me apasione y a lo que me quiero dedicar. Temine el bachillerato a mis 18 años y las dudas
        empezaron a surgir,muchos caminos y mucho para elegir recien al dia de hoy con 21 años me di cuenta que el mundo del desarrollo es algo inmenso e increible, siento que esto recien empieza </div>
  </div>
      
      <hr>
      <div class="contenedor">
        <div class="label">¿Como trabajo?</div>
        <div class="content">
         A la hora de trabajar me considero una persona comprometida, responsable y bastante autogestionado. Comence a trabajar a los 
          16 años de edad , y desde alli no he dejado de hacerlo. Siento que en mi corta edad aprendi muchisimo de lo que implica brindar valor a una compañia desde el lugar que nos 
          toca. Trabajo mucho por mis objetivos,me gusta el reconocimiento hacia eso tambien. Trabajo en equipo y ayuda entre compañeros lo veo fundamental para 
          poder llegar todos al objetivo y lograr un clima laboral ideal.
        
  </div>
      </div>
      <hr>
      <div class="container">
        <div class="label">Te cuento sobre mi actual trabajo</div>
        <div class="content">
          Actualmente me estoy desempeñando en Konecta Argentina. En mi trabajo actual realizo gestiones de facturacion , administrativas, carga de servicios ,
        entre otras cosas. Me gustaria mucho crecer dentro de la compañia como tambien espero con ansias mi primera experiencia como desarrollador, dentro o fuera de Konecta.
        Estoy muy satisfecho con el lugar donde me encuentro,siempre cumplieron con su palabra, lo que me parece muy importante.
      </div>
      <hr>

    </div>
    </div>
 
    

 