

<body>
    <div class="acordeon-cuerpo">
    <div class="acordeon">
      <h1 class="tituloacordeon">{{title}}</h1>
      <hr>
      <div class="contenedor">
        <div class="label">{{subtitulo1}}</div>
        <div class="content">{{descripcion1}}</div>
      </div>
      <hr>
      <div class="contenedor">
        <div class="label">{{subtitulo2}}</div>
        <div class="content">{{descripcion2}}</div>
  </div>
      
      <hr>
      <div class="contenedor">
        <div class="label">{{subtitulo3}}</div>
        <div class="content">{{descripcion3}}
  </div>
      </div>
      <hr>
      <div class="container">
        <div class="label">{{subtitulo4}}</div>
        <div class="content">{{descripcion4}}
      </div>
      <hr>

    </div>
    </div>
 
    

 