

<body>
    <div class="acordeon-cuerpo">
    <div class="acordeon">
      <h1 class="tituloacordeon">Un Poco mas sobre mi</h1>
      <hr>
      <div class="contenedor">
        <div class="label">¿Quien soy?</div>
        <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta fugiat voluptatibus aperiam earum nulla dolor minima consequatur minus repellendus. Perferendis quisquam nulla ab debitis eos assumenda id blanditiis qui necessitatibus!</div>
      </div>
      <hr>
      <div class="contenedor">
        <div class="label">¿Como trabajo?</div>
        <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima distinctio fugit totam possimus neque porro autem non, ab numquam expedita! Iusto tempora, fugiat necessitatibus consequuntur laudantium atque iure ullam accusantium!
  </div>
      </div>
      <hr>
      <div class="contenedor">
        <div class="label">Te cuento de mi ultimo trabajo</div>
        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque quas unde cum, iste officia maxime magni vitae aliquam quidem voluptates, iusto eius ratione. Esse dolor repellendus nihil. Accusamus, vero.
  </div>
      </div>
      <hr>
      <div class="container">
        <div class="label">¿Como llegue aca?</div>
        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquid blanditiis quis voluptatibus tempora. At quisquam, ipsam dignissimos ipsa nihil natus sunt modi maxime perspiciatis porro, voluptatem adipisci, cumque nemo!</div>
      </div>
      <hr>

    </div>
    </div>
  
   <!--  https://www.freecodecamp.org/espanol/news/como-construir-un-menu-acordeon-con-html-css-y-javascript/#:~:text=%C2%BFQu%C3%A9%20es%20un%20men%C3%BA%20acorde%C3%B3n,lista%20est%C3%A1%20oculto%20por%20defecto.
    De aca Saque acordeon 
    falta java  const acordeon = document.getElementsByClassName('contenedor');

for (i=0; i<acordeon.length; i++) {
  acordeon[i].addEventListener('click', function () {
    this.classList.toggle('activa')
  })
}-->
  </body>