/*DASHBOARD (LISTA DE ATRIBUTOS)*/

.list-group {
  margin: 3rem;
  --bs-list-group-bg: transparent !important;
  --bs-list-group-border-color: transparent !important ;
  --bs-list-group-action-hover-bg: #82a2e9 !important;
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Agency FB";
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
}
.border {
  border-radius: 2rem;
  margin: 2rem;
}
.container-fluid {
  color: white;
  padding: 1rem;
}
.atributos {
  font-family: "Agency FB";
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
}

.boton {
  font-family: "Agency FB";
  color: white !important;
  font-size: 1.5rem;
}
