<div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 tituloModal" id="staticBackdropLabel">Educacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>

                    <div>
                        <label for="formFileSm" class="form-label atributos">Titulo</label>
                        <input class="form-control form-control-lg" id="formFileSm" type="text">


                    </div>
                    <div>
                        <label for="formFileSm" class="form-label atributos">Institucion</label>
                        <input class="form-control form-control-lg" id="formFileSm" type="text">


                    </div>
                    <div>
                        <label for="formFileSm" class="form-label atributos">Inicio</label>
                        <input class="form-control form-control-lg" id="formFileSm" type="text">


                    </div>
                    <div>
                        <label for="formFileSm" class="form-label atributos">Fin</label>
                        <input class="form-control form-control-lg" id="formFileSm" type="text">


                    </div>
                    <div>
                        <label for="formFileSm" class="form-label atributos">URL de Imagen Institucion</label>
                        <input class="form-control form-control-lg" id="formFileSm" type="text">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar Cambios</button>
                      </div>