 <!--Seccion Header-->
 <header>


    <!-- CARRUSEL -->
  <div class="full-width" style="margin-bottom:40px;">
                
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            

            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                
                <img  src="../../assets/IMG2/Hola! (2).png" class="banner d-block w-100"  alt="...">
            
                <a href="#" class="btn btn-primary btn-lg active botoncarrusel" role="button" aria-pressed="true">PROYECTOS</a>
            </div>
            <div class="carousel-item">
                <img src="../../assets/IMG2/luca-bravo-XJXWbfSo2f0-unsplash.jpg" class=" banner d-block w-100"  alt="...">
                <a href="#" class="btn btn-primary btn-lg active botoncarrusel2" role="button" aria-pressed="true">SKILLS</a>
            </div>
            <div class="carousel-item">
                <img src="../../assets/IMG2/planetfondo.png" class=" banner d-block w-100" alt="...">
                <a href="#" class="btn btn-primary btn-lg active botoncarrusel3" role="button" aria-pressed="true">CERTIFICADOS</a>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
            </button>
        </div>  
    </div> 

</header>

<main>