       <!--SECCION DE FOOTER-->
                        
       <section id="footer" class="footer">
                            
        <div class="contenedorfooter">
            
         <img class="imagenfooter" src="../../assets/IMG2/favicon.png">
     
        </div>
        <div class="contenedorfooter">
        <!-- <h1 class="tittlefooter">TODOS LOS DERECHOS RESERVADOS</h1> -->
      </div>
       
      </section>
      



                                              <!-- EJERCICIOS ANGULAR -->


        <!-- ngClass -->
<!-- <div [ngClass]="'color-fondo color-letra tamaño-letra'">
contenido de mi div
    </div> -->



          <!-- ng If -->
<!-- <div *ngIf="meriendas.length > 0">
  Si hay meriendas
</div>
<div *ngIf="meriendas.length === 0">
  No hay meriendas
</div> -->


         <!-- ng for -->
<!--  <ul>
  <li *ngFor="let carta of cartas">
    Palo: {{carta.palo}}
    Valor:{{carta.valor}}
    Icono:{{carta.icono}}
  </li>
</ul>  -->
<!-- <div>
<select class="form-select">
  <option selected >Selecciona una</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
</select></div> -->


<!-- DIRECTIVAS
   <div
[style.backgroundColor] = "activo ?  'red' : 'yellow'"
[style.color] = "activo ?  'white' : 'black'"
[style.textAlign] = "activo ?  'center' : 'left'"
[style.fontSize] = "activo ?  '2rem' : '10rem'"
[style.margin] = "activo ?  '2rem' : '5rem'"
>
Mi Div
</div> -->