<!--SECCION DE PERFIL-->
<section id="perfil" class="aboutme">

  <div class="container text-center">
    <div class="row">
      <div class="col-1">
        <h1 class="about">PERFIL</h1>
      </div>
      <div class="col-3">
        <img class="foto-perfil" src="../../assets/IMG2/Foto Perfil portfolio.jpeg">
        <p class="info">{{nombre}} {{apellido}}</p>
        <p class="info"> {{titulo}} </p>
      </div>
      <div class="col-6">
        <h1 class="info"> <i>{{frase}}</i></h1>
        <p class="info">
          {{acerca}}
        <div><b>{{frase2}}</b></div>

      </div>
      <div class="col-2">
        <h1 class="about1">Sobre mi</h1>




      </div>
    </div>
  </div>

</section>

<!--SECCION iNTERMEDIA DE CONTACTO-->
<section class="sectorintermedio">
  <div class="contenedordeboton">
    <a href="#" class="btn btn-primary btn-lg active botondecontacto" role="button" aria-pressed="true">CONTACTO</a>
  </div>
  <div class="clase2">
<div>
    <img class=fotoenelperfil src="../../assets/IMG2/perfil1.jpg">
  
  </div>
    <div>
   
      <img class="fotoenelperfil secondphoto" src="../../assets/IMG2/linus-mimietz-gvptKmonylk-unsplash.jpg">
    
    </div>

  <div>
    
    <img class="fotoenelperfil " src="../../assets/IMG2/perfil2.jpg">
    
</div>
  </div>
</section>


