
            <!-- <div class="contenedor"> 
                                       <div class="icono">
                                          <img  class="iconos-empresa" src="../../assets/IMG2/Nutricion Animal.jpeg">
                                  
                                        </div>
                                        <div class="info">
                                              <p>Atencion al Publico-Ventas</p>
                                              <p>Agosto-2020-Noviembre-2021</p>
                                              <p>Ventas de productos para mascotas</p>
                                        </div>
                              
                                  </div>
                              <div class="contenedor"> 
                                    <div class="icono">
                                       <img  class="iconos-empresa" src="../../assets/IMG2/dnt store.jpg">
                                  
                                    </div>
                                    <div class="info">
                                      <p>Ventas-Deposito</p>
                                      <p>Noviembre 2019-Marzo 2020</p>
                                      <p>Ventas y deposito de tienda 
                                      <p>de indumentaria y calzado deportivo</p>
                                   </div>
                                  </div> -->
       




        <!--SECCION DE EDUCACION-->

        <section id="Educacion">
            <h1 class="verticaltitle">EDUCACION</h1>
            <div class="contenedor" *ngFor="let estudio of educacion">

                <div class="icono">
                    <img class="iconos-empresa iconoarg" src="{{estudio.imagen}}">

                </div>
                <div class="info">
                    <p>{{ estudio.titulo }}</p>
                    <p>{{ estudio.inicio }} - {{ estudio.fin }} </p>
                    <p>{{ estudio.organismo }}</p>
                </div>

            </div>
            <!--  <div class="contenedor"> 
                                           <div class="icono">
                                               <img  class="iconos-empresa" src="../../assets/IMG2/udemy.png">
                                    
                                              </div>
                                           <div class="info">
                                                 <p>
                                                      Desarrollo Web Completo 
                                                 <p>(HTML5, CSS3, JS AJAX PHP y MySQL)</p>
                                            
                                                 <p>2020-Actualidad</p>
                                                <p>Udemy</p>
                                           </div>
                                
                                </div>
                                <div class="contenedor"> 
                                            <div class="icono">
                                                <img  class="iconos-empresa " src="../../assets/IMG2/logo depa cultural.jpg">
                                    
                                            </div>
                                            <div class="info">
                                                   <p>Nivel 2 - Lengua Extranjera Inglesa</p>
                                                   <p>Mayo 2022-Agosto 2022</p>
                                                   <p>Departamento Cultural-Facultad de Lenguas Cordoba</p>
                                              </div>
                                 -->

        </section>

