
 <!--SECCION DE EXPERIENCIA LABORAL-->
    
 <div class="borde">
    <div id="contenedor">
        
              <section id="Experiencia" >
                            <h1 class="verticaltitle2">EXPERIENCIA LABORAL</h1>
                                  <!-- ICONO -->
                                 <div class="contenedor" *ngFor="let experiencia of experiencias"> 
                                     <div class="icono">
                                         <img  class="iconos-empresa" src="{{experiencia.imagen}}">
                                  
                                      </div>
                                     <div class="info">
                                         <p>{{experiencia.titulo}}</p>
                                         <p>{{experiencia.inicio}} - {{experiencia.fin}}</p>
                                         <p>{{experiencia.empresa}}</p>
                                     </div>
                              
                                  </div>
                                  <!-- <div class="contenedor"> 
                                       <div class="icono">
                                          <img  class="iconos-empresa" src="../../assets/IMG2/Nutricion Animal.jpeg">
                                  
                                        </div>
                                        <div class="info">
                                              <p>Atencion al Publico-Ventas</p>
                                              <p>Agosto-2020-Noviembre-2021</p>
                                              <p>Ventas de productos para mascotas</p>
                                        </div>
                              
                                  </div>
                              <div class="contenedor"> 
                                    <div class="icono">
                                       <img  class="iconos-empresa" src="../../assets/IMG2/dnt store.jpg">
                                  
                                    </div>
                                    <div class="info">
                                      <p>Ventas-Deposito</p>
                                      <p>Noviembre 2019-Marzo 2020</p>
                                      <p>Ventas y deposito de tienda 
                                      <p>de indumentaria y calzado deportivo</p>
                                   </div>
                                  </div> -->
               </section>               
          
       
                           
      
                <!--SECCION DE EDUCACION-->           
                 
              <section id="Educacion" >
                                <h1 class="verticaltitle">EDUCACION</h1>
                                    <div class="contenedor" *ngFor="let estudio of educacion"> 
                            
                                          <div class="icono">
                                             <img  class="iconos-empresa iconoarg" src="{{estudio.imagen}}">
                                    
                                          </div>
                                          <div class="info" >
                                            <p>{{ estudio.titulo }}</p>
                                            <p>{{ estudio.inicio }} - {{ estudio.fin }}  </p>
                                            <p>{{ estudio.organismo }}</p>
                                          </div>
                                
                                    </div>
                               <!--  <div class="contenedor"> 
                                           <div class="icono">
                                               <img  class="iconos-empresa" src="../../assets/IMG2/udemy.png">
                                    
                                              </div>
                                           <div class="info">
                                                 <p>
                                                      Desarrollo Web Completo 
                                                 <p>(HTML5, CSS3, JS AJAX PHP y MySQL)</p>
                                            
                                                 <p>2020-Actualidad</p>
                                                <p>Udemy</p>
                                           </div>
                                
                                </div>
                                <div class="contenedor"> 
                                            <div class="icono">
                                                <img  class="iconos-empresa " src="../../assets/IMG2/logo depa cultural.jpg">
                                    
                                            </div>
                                            <div class="info">
                                                   <p>Nivel 2 - Lengua Extranjera Inglesa</p>
                                                   <p>Mayo 2022-Agosto 2022</p>
                                                   <p>Departamento Cultural-Facultad de Lenguas Cordoba</p>
                                              </div>
                                 -->
                                 
                    </section>
    </div>
    </div>
                              
                                  <!--SECCION DE INFO ADICIONAL ACADEMICA-->
                    <div class="borde">
                          <section id="infoadicional">
                                <h1 class="verticaltitle ">INFO ADICIONAL</h1>
                            
                                
                            <div class="contenedor1">
                                <div class="contenedor centrado" *ngFor="let info of informaciones"  > 
                                        <div class="icono">
                                            <img  class="iconos-empresa" src="{{info.imagen}}">
                                    
                                        </div>
                                       <div class="info">
                                              <p>{{info.titulo}}</p>
                                              <p>{{info.inicio}} - {{info.fin}}</p>
                                              <p>{{info.organismo}}</p>
                                    
                                        </div>
                                </div>
                            </div>
                          </section>
                                
                              <!--   <div class="contenedor centrado"> 
                                      <div class="icono">
                                           <img  class="iconos-empresa" src="../../assets/IMG2/logo-isce-cuadrado.jpg">
                                    
                                       </div>
                                     <div class="info">
                                          <p>Tecnico Superior en Comercio Exterior</p>
                                          <p>2020-Actualidad</p>
                                          <p>Instituto Superior de Comercio Exterior</p>
                                    </div>
                                </div> -->
                      </div> 
                  