.imagenproyecto {
    width: 15rem;
    height: 15rem;
    margin-bottom:2rem;
    border-radius: 1.8rem;
    padding:0.8rem;
   
}
.contenedordeproyectos{

   display: flex;
    margin: 8rem;
    justify-content: space-between;
}
.boton{
    margin:1rem;
    color: var(--bs-btn-active-color);
    background-color:rgb(36, 203, 108) !important;
    border-color: white !important;
    font-family: "Agency FB" !important; 
    font-size: 1.8rem !important;
}
.contendorimagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedortitulotext{
    text-align: center;
    
}
.tituloseccion{  
 
    color: rgb(255, 255, 255);
    font-family: "Agency FB" ;
    text-align: center;
    font-size: 5rem;
    margin-top:8rem;
}
.tituloproyect {
    font-size: 4rem;
text-align: center;
font-family: "Agency FB";
color: black;


}
.textoproyect{
    font-size: 1.5rem;
    text-align: center;
    font-family: "Agency FB";
    color: black;
    padding: 1rem;
    
}
.proyecto {
    box-shadow: 10px 15px 35px
  rgba(0,0,0,0.50);
  margin:1rem;
  background-color: rgb(189, 174, 174);
  border-radius: 0.5rem;
  border-style: double;
  
 
}
.linea{
   margin-left: 11rem;

}

.linea2{
  
    color:white;
    }
    .contenedorlinea{
      display: flex;
      justify-content: center;
      align-items: center;
    }