<div class="contenedorlinea">
  <hr class="linea2" size="20px" width="70%" id="proyectos" />
</div>

<h1 class="tituloseccion">Trabajos</h1>


<div class="contenedordeproyectos">
<!--
  <div class="proyecto" *ngFor="let proyecto of proyectos">


    <div class="contendorimagen">
      <img class="imagenproyecto" src="{{proyecto.imagen}}">
    </div>
    <div class="contenedortitulotext">
      <h1 class="tituloproyect">{{proyecto.nombre}}</h1>
      <hr class="linea" size="8px" width="50%" />
      <p class="textoproyect">{{proyecto.descripcion}}</p>


      <div class="contenedordeboton">
        <a href="#" class="btn btn-primary btn-lg active boton" role="button" aria-pressed="true">Ver en la Web</a>


      </div>
    </div>
  </div>-->


