<!-- Modal de Editar Experiencia-->
<div class="modal fade" id="modaleditexp" tabindex="-1" aria-labelledby="modaleditexplLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Implementamos metodo en el formulario-->
            <form (ngSubmit)="onEnviar($event)" [formGroup]="formExp"  novalidate #form="ngForm">
              <h1 class="modal-title fs-5 agregar" id="staticBackdropLabel">Editar Experiencia</h1>
      <!--Formulario para reemplazar los valores y editar-->
          
              <div>
                <div>
                  <label for="empresa" class="form-label atributos">Empresa</label>
                   <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                  <input type="text" class="form-control" id="empresa" name="empresaExp" formControlName="empresa"
                    [(ngModel)]="empresa" [ngClass]="{'is-invalid': empresaExp?.errors && empresaExp?.touched,
                   'is-valid': !empresaExp?.errors && empresaExp?.touched}">
                  <div *ngIf="empresaExp?.errors && empresaExp?.touched">
                    <div *ngIf="empresaExp?.hasError('required')" class="alert alert-danger" role="alert">
                      Debe ingresar la empresa en el campo
                    </div>
                  </div>
    
                </div>
                <div>
                  <label for="url_imagen" class="form-label atributos">Url Logo de la Empresa</label>
                    <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                  <input type="text" class="form-control" id="url_imagen" name="urlExp" formControlName="url_imagen"
                    [(ngModel)]="url_imagen" [ngClass]="{'is-invalid': urlExp?.errors && urlExp?.touched,
                   'is-valid': !urlExp?.errors && urlExp?.touched}">
                  <div *ngIf="urlExp?.errors && urlExp?.touched">
                    <div *ngIf="urlExp?.hasError('required')" class="alert alert-danger" role="alert">
                      Debe ingresar la imagen de la Institución.
                    </div>
                  </div>
    
                </div>
                <div>
                  <label for="puesto" class="form-label atributos">Puesto</label>
                    <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                  <input type="text" class="form-control" id="puesto" name="puestoExp" formControlName="puesto"
                    [(ngModel)]="puesto" [ngClass]="{'is-invalid': puestoExp?.errors && puestoExp?.touched,
                'is-valid': !puestoExp?.errors && puestoExp?.touched}">
                  <div *ngIf="puestoExp?.errors && puestoExp?.touched">
                    <div *ngIf="puestoExp?.hasError('required')" class="alert alert-danger" role="alert">
                      Debe ingresar el puesto en la Institución.
                    </div>
                  </div>
    
                </div>
                <div>
                  <label for="inicio" class="form-label atributos">Inicio</label>
                    <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                  <input type="text" class="form-control" id="inicio" name="inicioExp" formControlName="inicio"
                  [(ngModel)]="inicio" [ngClass]="{'is-invalid': inicioExp?.errors && inicioExp?.touched,
                  'is-valid': !inicioExp?.errors && inicioExp?.touched}">
                  <div *ngIf="inicioExp?.errors && inicioExp?.touched">
                    <div *ngIf="inicioExp?.hasError('required')" class="alert alert-danger" role="alert">
                      Debe ingresar el inicio del empleo.
                    </div>
                  </div>
    
                </div>
                <div>
                  <label for="fin" class="form-label atributos">Fin</label>
                    <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                  <input type="text" class="form-control" id="fin" name="finExp" formControlName="fin"
                  [(ngModel)]="fin" [ngClass]="{'is-invalid': finExp?.errors && finExp?.touched,
                  'is-valid': !finExp?.errors && finExp?.touched}">
    
                  <div *ngIf="finExp?.errors && finExp?.touched">
                    <div *ngIf="finExp?.hasError('required')" class="alert alert-danger" role="alert">
                      Debe ingresar el fin del empleo.
                    </div>
                  </div>
                </div>
    
                <div class="modal-footer">
    
                  <button [disabled]="empresaExp?.hasError('required') ||
               
                puestoExp?.hasError('required') ||
                 urlExp?.hasError('required') ||
                  inicioExp?.hasError('required') ||
                   finExp?.hasError('required')" type="submit" class="btn btn-primary">Guardar Experiencia</button>
                </div>
              </div>
      
    
