
<!--Pagina 404 de error con routing correspondiente
para cuando se ingrese una ruta que no existe me rediriga aqui-->
<div class="background">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text">Ooouh!!</span> Pagina no encontrada </p>
                <p class="lead">
                    La pagina donde has querido ingresar, No existe
                  </p>
                <a href="index.html" class="btn btn-primary" routerLink="/">Vuelve al Inicio</a>
            </div>
        </div>
</div>