<!-- Modal -->
<div class="modal fade" id="modaleditPerf" tabindex="-1" aria-labelledby="modaleditPerfLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formPerfil"  class="w-100">
          <div>
           
            <h1 class="modal-title fs-5 agregar" id="staticBackdropLabel">Editar Perfil</h1>
              <div>
                <label for="nombre" class="form-label atributos">Nombre</label>
                <input class="form-control form-control-lg"  type="text"
                name="nombre"
                id="nombre" formControlName="nombre"   [(ngModel)]="nombre" [ngClass]="{'is-invalid':  nombrePerfil?.errors &&  nombrePerfil?.touched,
                'is-valid': !nombrePerfil?.errors &&  nombrePerfil?.touched}">
                <div *ngIf="nombrePerfil?.errors && nombrePerfil?.touched "
                class="alert alert-danger">Agrega un nombre
  
                </div>
  
              
          
           
              <div>
                <label for="apellido" class="form-label atributos">Apellido</label>
                <input class="form-control form-control-lg"  type="text"
                name="apellido"
                id="apellido" formControlName="apellido"   [(ngModel)]="apellido" [ngClass]="{'is-invalid':  apellidoPerfil?.errors &&  apellidoPerfil?.touched,
                'is-valid': !apellidoPerfil?.errors &&  apellidoPerfil?.touched}">
                <div *ngIf="apellidoPerfil?.errors && apellidoPerfil?.touched "
                class="alert alert-danger">Agrega un apellido
  
                </div>
                <div>
                  <label for="tituloDeveloper" class="form-label atributos">Titulo Profesional</label>
                  <input class="form-control form-control-lg"  type="text"
                  name="tituloDeveloper"
                  id="tituloDeveloper" formControlName="tituloDeveloper"   [(ngModel)]="tituloDeveloper" [ngClass]="{'is-invalid':  tituloDeveloperPerfil?.errors &&  tituloDeveloperPerfil?.touched,
                  'is-valid': !tituloDeveloperPerfil?.errors &&  tituloDeveloperPerfil?.touched}">
                  <div *ngIf="tituloDeveloperPerfil?.errors && tituloDeveloperPerfil?.touched "
                  class="alert alert-danger">Agrega un titulo profesional a tu Portfolio
    
                  </div>
              
               
                </div>
              <div>
                <label for="urlimagenPerfil" class="form-label atributos">Url Imagen de Perfil</label>
                <input class="form-control form-control-lg"  type="text" name="urlimagenPerfil"
                id="urlimagenPerfil" formControlName="urlimagenPerfil" 
                [(ngModel)]="urlimagenPerfil" [ngClass]="{'is-invalid': url_imagenPerfil?.errors && url_imagenPerfil?.touched,
                          'is-valid': !url_imagenPerfil?.errors && url_imagenPerfil?.touched}">
                
                        </div>
            
              <div *ngIf="url_imagenPerfil?.errors && url_imagenPerfil?.touched "
              class="alert alert-danger">Agrega una imagen de perfil
            </div>
  
            
              <div>
                <label for="acercade" class="form-label atributos">Acerca de Mi</label>
                <textarea class="form-control form-control-lg"  type="text"
                name="acercade"
                id="acercade" formControlName="acercade" 
  
                [(ngModel)]="acercade" [ngClass]="{'is-invalid': acercadePerfil?.errors && acercadePerfil?.touched,
                          'is-valid': !acercadePerfil?.errors && acercadePerfil?.touched}"></textarea>
                </div>
                <div *ngIf="acercadePerfil?.errors && acercadePerfil?.touched "
                class="alert alert-danger">Agrega un breve "sobre mi"
              </div>
    
             
          
          <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
      </div>
    </div>
  </div>