<!--SECCION DE EDUCACION-->

<h1 class="verticaltitle2">EDUCACION</h1>

<div class="borde">
    <!--Contenedor donde llamamos de la base de datos nuestros atributos-->
    <div id="contenedor">
        <section id="Educacion" *ngFor="let estudio of estudios">

            <div class="contenedor" >

                <div class="icono">
                    <img class="iconos-empresa" src="{{estudio.url_imagen}}">

                </div>
                <div class="info">
                    <p>{{estudio.titulo}} </p>
                    <p>{{estudio.inicio}} - {{estudio.fin}} </p>
                    <p>{{estudio.institucion}}</p>
                </div>


            </div>

            <!-- #71 Arg Programo
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
        <button class="btn btn-primary" type="button">Eliminar<i class= "fa-solid" (click)="delete(estudio.id)"></i></button>
      </div>
    -->
        </section>
    </div>
</div>

<!--SECCION DE INFO ADICIONAL ACADEMICA
<h1 class="verticaltitle2">INFO ADICIONAL</h1>
<div class="borde">
    <section id="infoadicional">
       


        
            <div class="contenedor" *ngFor="let info of informaciones">
                <div class="icono">
                    <img class="iconos-empresa" src="{{info.imagen}}">

                </div>
                <div class="info">
                    <p>{{info.titulo}}</p>
                    <p>{{info.inicio}} - {{info.fin}}</p>
                    <p>{{info.organismo}}</p>

                
            </div>
        </div>
    </section>


-->