<!--Modal Agregar Proyectos-->
<div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 tituloModal" id="staticBackdropLabel">Proyectos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!--Formulario de Proyecto para agregar-->
                <!--Implementamos metodo para cargar-->
                <form [formGroup]="formProyect" (ngSubmit)="crearNuevoProyecto()" novalidate #form="ngForm">
                    <div>
                        <h1 class="modal-title fs-5 agregar" id="staticBackdropLabel">Agregar Proyectos</h1>
                        <div>
                            <label for="urlImagenProyect" class="form-label atributos">URL Imagen del Proyecto</label>
                            <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                            <input type="text" class="form-control" id="urlImagen" name="urlImagen"
                                formControlName="urlImagen" [(ngModel)]="urlImagen" [ngClass]="{'is-invalid': urlImagenProyect?.errors && urlImagenProyect?.touched,
                        'is-valid': !urlImagenProyect?.errors && urlImagenProyect?.touched}">
                            <div *ngIf="urlImagenProyect?.errors && urlImagenProyect?.touched "
                                class="alert alert-danger">Agrega la Url de la imagen</div>

                        </div>

                    </div>
                    <div>
                        <label for="tituloProyect" class="form-label atributos">Titulo del Proyecto</label>
                        <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                        <input type="text" class="form-control" id="tituloProyect" name="tituloProyect"
                            formControlName="titulo" [(ngModel)]="titulo" [ngClass]="{'is-invalid': tituloProyect?.errors && tituloProyect?.touched,
                        'is-valid': !tituloProyect?.errors && tituloProyect?.touched}">
                        <div *ngIf="tituloProyect?.errors && tituloProyect?.touched " class="alert alert-danger">Agrega
                            un titulo del proyecto
                        </div>
                    </div>

                    <div>
                        <label for="descripcionProyect" class="form-label atributos">Descripcion del Proyecto</label>
                        <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                        <input type="text" class="form-control" id="descripcion" name="descripcionProyect"
                            formControlName="descripcion" [(ngModel)]="descripcion" [ngClass]="{'is-invalid': descripcionProyect?.errors && descripcionProyect?.touched,
                        'is-valid': !descripcionProyect?.errors && descripcionProyect?.touched}">
                        <div *ngIf="descripcionProyect?.errors && descripcionProyect?.touched "
                            class="alert alert-danger">Agrega una descripcion del proyecto
                        </div>

                    </div>
                    <div>
                        <label for="urlProyecto" class="form-label atributos">URL del proyecto</label>
                        <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                        <input type="text" class="form-control" id="urlProyect" name="urlProyect"
                            formControlName="urlProyect" [(ngModel)]="urlProyect" [ngClass]="{'is-invalid': urlProyecto?.errors && urlProyecto?.touched,
                        'is-valid': !urlProyecto?.errors && urlProyecto?.touched}">
                        <div *ngIf="urlProyecto?.errors && urlProyecto?.touched " class="alert alert-danger">Agrega una
                            URL del proyecto
                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>

                    <!--
                      <div>
                        <div>
                            <h1 class="modal-title fs-5 agregar" id="staticBackdropLabel">Eliminar Proyecto</h1>
                            
                            <div class="selectEliminar">
            
            
                        <select name="Estado" class="eduEliminar">
            
                            <option class="atributos">Pro 1</option>
            
                            <option class="atributos ">Produ 2</option>
            
                            <option class="atributos ">Pro 3</option>
            
                          </select>
                        
            </div>
                    <div class="botonEliminar">
                            <button type="submit" class="btn btn-primary ">Eliminar Educacion</button>
                    </div>
            </div>
            </div>
           
            -->
                </form>