<div class="contenedorlinea">
  <hr class="linea2" size="20px" width="70%" id="proyectos" />
</div>

<h1 class="tituloseccion">Trabajos</h1>

<!--Contenedor donde llamamos de la base de datos nuestros atributos-->
<div class="contenedordeproyectos">

  <div class="proyecto" *ngFor="let trabajo of proyecto">


    <div class="contendorimagen">
      <img class="imagenproyecto" src="{{trabajo.urlImagen}}">
    </div>
    <div class="contenedortitulotext">
      <h1 class="tituloproyect">{{trabajo.titulo}}</h1>
      <hr class="linea" size="8px" width="50%" />
      <p class="textoproyect">{{trabajo.descripcion}}</p>


      <div class="contenedordeboton">
        <a href="{{trabajo.urlProyect}}" class="btn btn-primary btn-lg active boton" role="button" aria-pressed="true">Ver en la Web</a>


      </div>
    </div>
  </div>
  