<!-- formulario de contacto en html y css -->

<<!-- h1 class="tituloContact">CONTACTAME</h1> -->

<form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="formContact">
  <div class="contenedorlinea">
    <hr class="linea" size="20px" width="70%" id="contacto" />
  </div>
  <h1 class="contacto">CONTACTO</h1>
  <div class="contact_form">

    <div class="formulario">
      <h1 class="tituloform">Formulario de contacto</h1>
      <h3>Escribime tu consulta y en breve me pondre en contacto contigo</h3>


     

      <div>
        <p>
          <label for="nombreForm" class="colocar_nombre textform">Nombre
            <span class="obligatorio">*</span>
          </label>
          <input class="form-control-lg" type="text"  id="nombre" required="obligatorio"
            placeholder="Escribe tu nombre" formControlName="nombre" name="nombreForm">
           
            <div *ngIf="nombreForm?.errors && nombreForm?.touched"
            class="alert alert-danger campo">Este Campo es requerido</div>

      
      </div>
     
      </div>
    
    <div>
      <p>
          <label for="emailForm" class="colocar_email textform">Email
            <span class="obligatorio">*</span>
          </label>
          <input type="email" name="correoForm" id="correo"  placeholder="Escribe tu Email" class="form-control-lg" formControlName="correo" id="correo" type="text"
          required formControlName="correo">
          <div *ngIf="correoForm?.errors && correoForm?.touched"
          class="alert alert-danger campo">Este Campo es requerido</div>
        
   </div>
   <div>
        <p>
          <label class="colocar_telefono textform">Teléfono
          </label>
          <input type="tel" for="telefono" name="telefonoForm"   id="telefono" placeholder="Escribe tu teléfono" class="form-control-lg" formControlName="telefono" id="telefono">
        </p>
        <div *ngIf="telefonoForm?.errors && telefonoForm?.touched"
        class="alert alert-danger campo">Este Campo es requerido
      </div>
 

      </div>
      <div>
        <p>
          <label for="asunto" class="colocar_asunto textform">Asunto
            <span class="obligatorio">*</span>
          </label>
          <input type="text" name="asuntoForm" id="asunto" required="obligatorio"
            placeholder="Escribe un asunto" class="form-control-lg">
        </p>

      </div>
      <div>
        <p>
          <label for="mensaje" class="colocar_mensaje textform">Mensaje
            <span class="obligatorio">*</span>
          </label>
          <textarea name="introducir_mensaje" id="mensaje" required="obligatorio" class="texto_mensaje form-control-lg" formControlName="mensaje"
            placeholder="Deja aquí tu comentario..."></textarea>
        </p>
        <div *ngIf="mensajeForm?.errors && mensajeForm?.touched"
        class="alert alert-danger campo">Este Campo es requerido
      </div>
      </div>
<div>
        <button type="submit" name="enviar_formulario" 
        [disabled]="nombreForm?.hasError('required') 
        || correoForm?.hasError('required') || telefonoForm?.hasError('required') 
        || asuntoForm?.hasError('required') || mensajeForm?.hasError('required')" class="enviar">
          <p>Enviar</p>
        </button>
      </div>
        <p class="aviso">
          <span class="obligatorio"> * </span>los campos son obligatorios.
        </p>

      
      
      
    </div>
     
  
</form>