<div class="contenedorlinea">
    <hr class="linea" size="20px" width="70%" />
</div>
<h1 class="formacion" id="formacion">FORMACION</h1>



<h1 class="verticaltitle2">EXPERIENCIA LABORAL</h1>


<div class="borde">
    <!--Contenedor donde llamamos de la base de datos nuestros atributos-->
    <div id="contenedor">

        <section id="Experiencia" *ngFor="let experiencia of experiencias">


            <div class="contenedor">
                <div class="icono">
                    <img class="iconos-empresa" [src]="experiencia.url_imagen">

                </div>
                <div class="info">
                    <p>{{experiencia.puesto}}</p>
                    <p>{{experiencia.inicio}} - {{experiencia.fin}}</p>
                    <p>{{experiencia.empresa}}</p>
                </div>

            </div>

        </section>
    </div>
</div>