/*DASHBOARD (LISTA DE ATRIBUTOS)*/

.list-group {
  margin: 2rem;
  --bs-list-group-bg: transparent !important;
  --bs-list-group-border-color: transparent !important ;
  --bs-list-group-action-hover-bg: #82a2e9 !important;
}

.titulo {
  padding: 1rem;
  font-family: "Agency FB";
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
}
.border {
  border-radius: 2rem;
  margin: 2rem;
}
.container-fluid {
  display: flex;

  color: white;
  padding: 1rem;
}
.atributos {
  font-family: "Agency FB";
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.boton {
  font-family: "Agency FB";
  color: white !important;
  font-size: 1.5rem;
}

.lista {
  display: flex;
}
.botoncito {
  padding: 0.5rem;
}
.agregar {
  display: flex;
  justify-content: center;
}



.info {
display: inline-flex;
justify-content: space-between;
padding: 2rem;
font-family:"Agency FB" ;
font-size: 2rem;
color:white;
  
  
}

.atributo{
  padding: 1rem;
}


/*Habilidades*/
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 8rem;
  --fg: rgb(9, 111, 175);
  --bg: rgb(0, 0, 0);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      rgb(0, 0, 0) 80%,
      transparent 0 99.9%,
      rgb(0, 0, 0) 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: "Agency FB";
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.primeras-barras {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.habilidad{
  
  color: white;
}
.titulodebarra{
  display: flex;
  justify-content: center;
}
.section{
  display: flex;
}

/*Proyectos*/
.contenedortitulotext{
  color:white;
}
.iconos-empresa{
  width: 8rem ;
  height: 8rem;
 
}
img.iconos-empresa {
  border-radius: 1rem;
}
#Experiencia{
  display: flex;
  justify-content: space-between;
  margin:2rem;
  border-radius: 0.8rem;
  color: white;
  margin-top:2rem;
}