/*SECCION DE HABILIDADES*/
#Habilidades {
   background-image:url(../../assets/IMG2/fondosecciones.jpg) !important;
  background-repeat:round;
  margin: 4rem;
  border-radius: 0.8rem;
  color: white;
  border-style:double;
  border-width: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-top-color: #4e4141;
  border-right-color: #4e4141;
  border-bottom-color: #4e4141;
  border-left-color: #4e4141;
  border-radius: 0.8rem;
  margin-bottom: 12rem;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;

  
 
  
}
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 8rem;
  --fg: rgb(9, 111, 175);
  --bg: rgb(0, 0, 0);
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      rgb(0, 0, 0) 80%,
      transparent 0 99.9%,
      rgb(0, 0, 0) 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: "Agency FB";
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.primeras-barras {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.about2 {
  font-family: "Agency FB";
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;
}
.titulodebarra {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Agency FB";
}
.tituloskill {
  font-family: "Agency FB";
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  color: rgb(36, 203, 108);
  padding-top: 2rem;
}
.titulodeskill {
  font-family: "Agency FB";
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: rgb(36, 203, 108);
}

.Skills {
  
  background-image:url(../../assets/IMG2/fondosecciones.jpg) !important;
  border-radius: 1rem;
  border-style:double;
  border-color: #4e4141;
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  font-family: "Agency FB";
  color: rgb(36, 203, 108);
 
}
.fotoenelperfil {
  width: 24.2rem;
  height: 17.6rem;
  border-radius: 1.8rem;
  text-align: center;
  margin: 2rem;
}
.clase2 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin:4rem;
  margin-top: 20rem;
}

@media (max-width: 600px) {
  .clase2 {
    display: list-item;
    text-align: center;
    justify-content: space-between;
    margin:4rem;
  }
}
.prueba {
 
 
}
