<!-- Modal -->


  <div class="modal fade fondo " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>

        </div>
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="modal-body">
            <div class="mb-3 row">

              <div class="col-sm-10">
                <input type="email" name="nombreUsuario" class="form-control" id="nombreUsuario"
                  [(ngModel)]="nombreUsuario" required />
                <label for="nombreUsuario"></label>
                <!-- Gracias al getter que configuramos en el controlador -->
                <!-- <div *ngIf="Mail?.errors  && Mail?.touched">
                <p *ngIf="Mail?.hasError('required')" class="alert alert-danger">
                  El email es requerido.
                </p>
                <p *ngIf="Mail?.hasError('email')" class="alert alert-danger">
                  El formato del email debe ser válido.
                </p>
              </div>-->
              </div>
            </div>

            <div class="mb-3 row">

              <div class="col-sm-10">
                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" required/>
                <label for="password"></label>
                <!-- Gracias al getter que configuramos 
                  en el controlador -->
                <!--<div *ngIf="Password?.errors  && Password?.touched" class="alert alert-danger">
                <p *ngIf="Password?.hasError('required')">
                  La contraseña es requerida.
                </p>

                <p *ngIf="Password?.errors?.['minlength']">
                  La contraseña debe ser de 8 o más caracteres.
                </p>
              </div>-->

              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary ">Iniciar Sesion</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

              
            </div>
          </div>





        </form>


      </div>
    </div>
  </div>

