  

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>

            </div>
            <div class="modal-body">
              <div class="mb-3 row">
                <label for="floatinginput"></label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="floatingInput" placeholder="email@dominio.com">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="floatingpaswword"></label>
                <div class="col-sm-10">
                  <input for="inputPassword" class="form-control" id="floatingpassword" placeholder="password"
                    type="password">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Iniciar</button>
            </div>
          </div>
        </div>
      </div>
 