.atributos {
    font-family: "Agency FB";
    color: rgb(3, 3, 3);
    font-size: 3rem;
  }

  .tituloModal{
    font-family: "Agency FB";
    color: rgb(3, 3, 3);
    font-size: 4rem !important;
  } 

  .modal-content {
 background-color:rgb(36, 203, 108) !important;;
  }
  .agregar{
    font-family: "Agency FB";
    color: rgb(4, 4, 4);
    font-size: 3rem !important;
    display: flex;
    justify-content: center;
  }
  .selectEliminar{
    display: flex;
    justify-content: center;
    
  }
  .eduEliminar{
    width: 8rem;
    height: 3rem;
    

}
.botonEliminar{
    display: flex;
    justify-content: end;
    margin-right: 1.2rem;
    
}

.alert.alert-danger{
  width: 25rem;
  height: 4rem;
}