<!--Modal Agregar Habilidades-->
<div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 tituloModal" id="staticBackdropLabel">Habilidades</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!--Formulario de Habilidades para agregar-->
                <!--Implementamos metodo para cargar-->
                <form [formGroup]="formSkills" (ngSubmit)="crearNuevaHabilidad()" class="w-100">
                    <h1 class="modal-title fs-5 agregar" id="staticBackdropLabel">Agregar Habilidad</h1>
                    <div>

                        <div>
                            <label for="formFileSm" class="form-label atributos">Nombre de la Habilidad</label>
                            <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                            <input class="form-control form-control-lg" id="habilidad" type="text" name="nombreSkill"
                                id="input-nombre" formControlName="habilidad" [(ngModel)]="habilidad" [ngClass]="{'is-invalid': nombreSkill?.errors && nombreSkill?.touched,
                        'is-valid': !nombreSkill?.errors && nombreSkill?.touched}">
                            <div *ngIf="nombreSkill?.errors && nombreSkill?.touched">
                                <div *ngIf="nombreSkill?.hasError('required')" class="alert alert-danger" role="alert">
                                    Debe ingresar el nombre de la habilidad.
                                </div>

                            </div>

                            <div>
                                <label for="formFileSm" class="form-label atributos">Porcentaje</label>
                                <!--En cada input ponemos un ngModel para poder Conectar con base de datos-->
                                <input type="number" class="form-control form-control-lg" name="porcentaje"
                                    id="input-porcentaje" formControlName="porcentaje" [(ngModel)]="porcentaje"
                                    [ngClass]="{'is-invalid': porcentajeSkill?.errors && porcentajeSkill?.touched,
                                'is-valid': !porcentajeSkill?.errors && porcentajeSkill?.touched}">
                                <div *ngIf="porcentajeSkill?.errors && porcentajeSkill?.touched">
                                    <div *ngIf="porcentajeSkill?.hasError('required')" class="alert alert-danger"
                                        role="alert">
                                        Debe ingresar el porcentaje de la habilidad.
                                    </div>

                                </div>
                                <div class="modal-footer">

                                    <button type="submit" class="btn btn-primary">Guardar Habilidad</button>
                                </div>
                                <!--
                            <div>
                                <div>
                                    <h1 class="modal-title fs-5 agregar" id="staticBackdropLabel">Eliminar Educacion
                                    </h1>

                                    <div class="selectEliminar">


                                        <select name="Estado" class="eduEliminar">

                                            <option class="atributos">Hab 1</option>

                                            <option class="atributos ">Hab 2</option>

                                            <option class="atributos ">Hab 3</option>

                                        </select>

                                    </div>
                                    <div class="botonEliminar">
                                        <button type="submit" [disabled]="porcentajeSkill?.hasError('required') 
                            || nombreSkill?.hasError('required')" class="btn btn-primary">Eliminar Educacion</button>
                                    </div>
                                </div>
                                </div>-->
                            </div>
                        </div>
                    </div>

                </form>